aiohttp==3.9.5
babelfish==0.6.1
beautifulsoup4==4.12.3
bencode.py==4.0.0
bencodepy==0.9.5
flask_session==0.8.0
Flask==3.0.3
Flask_Cors==5.0.0
Flask_Login==0.6.3
flask_sqlalchemy==3.1.1
fuzzywuzzy==0.18.0
grpcio==1.66.1
guessit==3.8.0
MarkupSafe==2.1.5
protobuf==5.28.1
pykakasi==2.3.0
Requests==2.32.3
SQLAlchemy==2.0.31
tenacity==9.0.0
urwid==2.6.15
Werkzeug==3.0.4
pytrakt==3.4.32
plexapi==4.15.15
