<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>cli_debrid - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>cli_debrid</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('statistics') }}">Statistics</a></li>
                <li><a href="{{ url_for('queues') }}">Queues</a></li>
                <li><a href="{{ url_for('logs') }}">Logs</a></li>
                <li><a href="{{ url_for('settings') }}">Settings</a></li>
            </ul>
        </nav>
        <button id="darkModeToggle" onclick="toggleDarkMode()"><span id="darkModeIcon">🌙</span></button>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
