<table id="database-table">
    <thead>
        <tr>
            {% for column in selected_columns %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            {% for column in selected_columns %}
            <td>
                <div class="cell-content">
                    {% if content_type == 'movie' and column in ['season_number', 'episode_number', 'episode_title'] %}
                        <!-- Don't display these columns for movies -->
                    {% elif item[loop.index0] is not none and item[loop.index0] != 'None' %}
                        {{ item[loop.index0] }}
                    {% endif %}
                </div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>