{% extends "base.html" %}
{% block title %}Onboarding - Step 5{% endblock %}
{% block content %}
<div class="onboarding-container">
    <h2 class="onboarding-title">Step 5: Confirmation</h2>
    <p class="onboarding-text">You have successfully set up your content sources. You're now ready to start using <i>cli_debrid!</i></p>
    <p class="onboarding-text">For detailed usage information, please refer to our <a href="#" target="_blank" class="onboarding-link">wiki</a>.</p>
</div>

{% include 'onboarding_navigation.html' %}
{% endblock %}
