{% extends "base.html" %}
{% block title %}Queues{% endblock %}
{% block content %}
<div class="container">
    <h2>Queues</h2>
    <div id="queue-contents" class="queue-container">
    {% for queue_name in ['Upgrading', 'Wanted', 'Scraping', 'Adding', 'Checking', 'Sleeping', 'Unreleased', 'Blacklisted'] %}
        {% if queue_name in queue_contents %}
        <div class="queue">
            <div class="queue-title" onclick="toggleQueue(this)">
                <span>{{ queue_name }}</span>
                <span class="queue-count">{{ queue_contents[queue_name]|length }} items</span>
            </div>
            <div class="queue-items">
            {% if queue_name in ['Blacklisted', 'Unreleased'] %}
                {% for item in queue_contents[queue_name]|groupby('title') %}
                <div class="item">
                    {{ item.grouper }} ({{ item.list[0].year }}) - Version(s): {{ item.list|map(attribute='version')|join(', ') }}
                    {% if item.list[0].type == 'episode' %}
                        - Season(s): {{ item.list|map(attribute='season_number')|unique|join(', ') }}
                    {% endif %}
                    {% if queue_name == 'Unreleased' %}
                        - Release Date: {{ item.list[0].release_date }}
                    {% endif %}
                </div>
                {% endfor %}
            {% else %}
                {% for item in queue_contents[queue_name] %}
                <div class="item">
                    {{ item.title }} ({{ item.year }}) - Version: {{ item.version }}
                    {% if item.type == 'episode' %}
                        S{{ item.season_number }}E{{ item.episode_number }}
                    {% endif %}
                    {% if queue_name == 'Upgrading' %}
                        - Current Quality: {{ item.current_quality }}
                        - Target Quality: {{ item.target_quality }}
                        - Time Added: {{ item.time_added|datetime }}
                        - Upgrades Found: {{ item.upgrades_found }}
                    {% elif queue_name == 'Sleeping' %}
                        - Wake Count: {{ item.wake_count }}
                    {% endif %}
                </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}