{% extends "base.html" %}

{% block title %}Statistics{% endblock %}

{% block content %}
<div class="stats">
    <div class="stat-item">
        <h3>Total Movies Collected</h3>
        <p id="total-movies">{{ stats.total_movies }}</p>
    </div>
    <div class="stat-item">
        <h3>Total TV Shows Collected</h3>
        <p id="total-shows">{{ stats.total_shows }}</p>
    </div>
    <div class="stat-item">
        <h3>Total Episodes Collected</h3>
        <p id="total-episodes">{{ stats.total_episodes }}</p>
    </div>
    <div class="stat-item uptime">
        <h3>Uptime</h3>
        <p id="uptime">{{ '%d days, %d hours, %d minutes' % (stats.uptime // 86400, (stats.uptime % 86400) // 3600, (stats.uptime % 3600) // 60) }}</p>
    </div>
</div>
{% endblock %}